html {
  font-family: 'Source Sans Pro', sans-serif;
  // background-image: url("./tree.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  // background-color: aliceblue;
  color: white;

}

h1 {
  // justify-text: center;
}

input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 6px;
}

.button {
  display: inline-block;
  border: none;
  padding: .5rem .5rem;
  margin: 0;
  border-radius: 6px;
  text-decoration: none;
  background: grey;
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.content {
  grid-area: content;
  border: 5px solid black;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.dynamicWelcomeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherDiv {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoDiv {
  border: 5px solid black;
  
}

.time {
  border: 5px solid black;
  // text-justify: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goalDiv {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameDiv {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-left {
  grid-area: main-left;
  border: 5px solid black;
}
.news {
  grid-area: news;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jokes {
  grid-area: jokes;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  grid-area: quote;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    
    "main-left"
    "content"
    "news"
    "jokes"
    "quote";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      
      "main-left     main-left"
      "news content"
      "jokes      quote";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     
      "main-left    content news"
      "main-left    content jokes"
      "quote quote  quote"
   }
   nav ul {
     flex-direction: column;
   }
}