html {
  font-family: 'Source Sans Pro', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 6px;
}

.button {
  display: inline-block;
  border: none;
  padding: .5rem .5rem;
  margin: 0;
  border-radius: 6px;
  text-decoration: none;
  background: grey;
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  border: 5px solid black;
}

.dynamicWelcomeMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weatherDiv {
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todoDiv {
  border: 5px solid black;
}

.time {
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goalDiv {
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nameDiv {
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main-left;
  border: 5px solid black;
}

.news {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: news;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jokes {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: jokes;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: quote;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: "main-left" "content" "news" "jokes" "quote";
}

@media (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "main-left     main-left" "news content" "jokes      quote";
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "main-left    content news" "main-left    content jokes" "quote quote  quote";
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */